@using ChannelServices.ViewModels
@using System.Security.Claims
@model ChannelManagmentViewModel
<head>
    <style>
        #txt-Description {
            font-size: 23px;
        }

        #BioGraphy-Box {
            background-color: gainsboro;
        }

        #dangerMessage-box h3 {
            padding: 1cm;
        }

        #Product-Card {
            display: inline-block;
            margin: 1rem;
        }

        form {
            display: inline-block;
        }

        #Product-Img {
            width: 100%;
            height: 50%;
        }

        #Card-Body {
            margin-top: 3rem;
            display: inline-block;
            width: 18rem;
        }
        #ChannelAvatar{
            height: 100px;
            width: 100px;
            border-radius: 50%;
        }
    </style>
</head>
<body>
    @if (Model.AllowToManageChannel == false)
    {
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>
    }
    else
    {
        <div>
            <div>
                <h2>@Model.Channel.Name</h2>
            </div>
            <div id="BioGraphy-Box">
                <p id="txt-Description">
                    @Model.Channel.BioGraphy
                </p>
            </div>
            <div>
                تعداد محصول: @Model.Channel.products.Count()
            </div>
            <br />
            @{
                string UserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
            }

            @if (Model.AccessToEmploys.Any(a => a.Access.Name == "AddProduct"))
            {
                <a class="btn btn-primary" asp-action="AddProductToChannel" asp-controller="Channel" asp-route-ChannelId="@Model.Channel.Id">اضافه کردن محصول</a>
            }
            else if (Model.Channel.CreatorId == @UserId)
            {
                <a class="btn btn-secondary" asp-action="AddRecuritmentFormInChannel" asp-controller="Channel" asp-route-channelId="@Model.Channel.Id">اضافه کردن فرم استخدام</a>
                <a class="btn btn-secondary" asp-action="MyChannelRecuritmentForms" asp-controller="Channel" asp-route-ChannelId="@Model.Channel.Id">فرم های استخدام</a>
                <a class="btn btn-primary" asp-action="AddProductToChannel" asp-controller="Channel" asp-route-ChannelId="@Model.Channel.Id">اضافه کردن محصول</a>
                <a class="btn btn-success" asp-action="MyChannelIncome" asp-controller="Channel" asp-route-id="@Model.Channel.Id">درآمد کانال</a>

            }

            <br />
            @foreach (var item in Model.Channel.products)
            {
                <div class="card-body" id="Card-Body">
                    <div>
                        @if (item.ProductImages.Any())
                        {
                            <img id="Product-Img" src="~/ProductsImages/@(item.ProductImages[0].FileName)@item.ProductImages[0].Format" />
                        }
                    </div>
                    <h5 class="card-title">@item.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@item.Price</h6>
                    <p class="card-text">@item.Description</p>
                    @if (Model.AccessToEmploys.Any(a => a.Access.Name == "DeletProduct") || Model.Channel.CreatorId == @UserId)
                    {
                        <form method="post" asp-action="RemoveProductFromChannel">
                            <input type="submit" value="حذف" class="btn btn-danger" />
                            <input type="hidden" asp-for="@item.Id" name="ProductId" />
                            <input type="hidden" asp-for="@Model.Channel.Id" name="ChannelId" />
                        </form>
                    }

                    @if (Model.AccessToEmploys.Any(a => a.Access.Name == "DeletProduct") || Model.Channel.CreatorId == @UserId)
                    {
                        <a class="btn btn-warning" asp-action="EditProduct" asp-route-Id="@item.Id">ویرایش محصول</a>
                    }
                    <a asp-action="Details" class="btn btn-info" asp-controller="Product" asp-route-Id="@item.Id" asp-route-Name="@item.Name" class="card-link">مشخصات</a>
                </div>
            }
        </div>
    }
</body>
<div class="modal fade" id="AvatarChangeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-5" id="FormLabel">تغییر عکس پروفایل</h3>
            </div>
            <div class="modal-body">
                <form asp-action="AddOrChangeChannelAvatar" asp-controller="Channel" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="ChannelId" value="@Model.Channel.Id" />
                    <div>
                        <label>عکس پروفایل</label>
                        <input type="file" name="Avatar" class="form-control" />
                    </div>
                    <br />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                        <input type="submit" value="ذخیره" class="btn btn-success" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>