@using ChannelServices.ViewModels
@using System.Security.Claims
@model ChannelManagmentViewModel
<head>
    <link rel="stylesheet" href="~/css/ChannelManagmentStyles.css" />
</head>
<body>
    @if (Model.AllowToManageChannel == false)
    {
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>
    }
    else
    {
        <div>
            <div align="center">
                <div id="AvatarBox" class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <img src="~/ChannelsAvatars/@(Model.Channel.Id).jpg" id="ChannelAvatar" />
                </div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">تغییر عکس پروفایل</button>
            </div>
            <div>
                <h2>@Model.Channel.Name</h2>
            </div>
            <div id="BioGraphy-Box">
                <p id="txt-Description">
                    @Model.Channel.BioGraphy
                </p>
            </div>
            <div>
                تعداد محصول: @Model.Channel.products.Count()
            </div>
            <br />
            @{
                string UserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
            }

            @if (Model.AccessToEmploys.Any(a => a.Access.Name == "AddProduct"))
            {
                <a class="btn btn-primary" asp-action="AddProductToChannel" asp-controller="Channel" asp-route-ChannelId="@Model.Channel.Id">اضافه کردن محصول</a>
            }
            else if (Model.Channel.CreatorId == @UserId)
            {
                <a class="btn btn-secondary" asp-action="AddRecuritmentFormInChannel" asp-controller="Channel" asp-route-channelId="@Model.Channel.Id">اضافه کردن فرم استخدام</a>
                <a class="btn btn-secondary" asp-action="MyChannelRecuritmentForms" asp-controller="Channel" asp-route-ChannelId="@Model.Channel.Id">فرم های استخدام</a>
                <a class="btn btn-primary" asp-action="AddProductToChannel" asp-controller="Channel" asp-route-ChannelId="@Model.Channel.Id">اضافه کردن محصول</a>
                <a class="btn btn-success" asp-action="MyChannelIncome" asp-controller="Channel" asp-route-id="@Model.Channel.Id">درآمد کانال</a>
                <a class="btn btn-warning" asp-action="EditChannel" asp-controller="Channel" asp-route-ChannelId="@Model.Channel.Id">ویرایش کانال</a>
            }

            <br />
            @foreach (var item in Model.Channel.products)
            {
                <div class="card-body" id="Card-Body">
                    <div>
                        @if (item.ProductImages.Any())
                        {
                            <img id="Product-Img" src="~/ProductsImages/@(item.ProductImages[0].FileName)@item.ProductImages[0].Format" />
                        }
                    </div>
                    <h5 class="card-title">@item.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@item.Price</h6>
                    <p class="card-text">@item.Description</p>
                    @if (Model.AccessToEmploys.Any(a => a.Access.Name == "DeletProduct") || Model.Channel.CreatorId == @UserId)
                    {
                        <form method="post" asp-action="RemoveProductFromChannel">
                            <input type="submit" value="حذف" class="btn btn-danger" />
                            <input type="hidden" asp-for="@item.Id" name="ProductId" />
                            <input type="hidden" asp-for="@Model.Channel.Id" name="ChannelId" />
                        </form>
                    }

                    @if (Model.AccessToEmploys.Any(a => a.Access.Name == "DeletProduct") || Model.Channel.CreatorId == @UserId)
                    {
                        <a class="btn btn-warning" asp-action="EditProduct" asp-route-Id="@item.Id">ویرایش محصول</a>
                    }
                    <a asp-action="Details" class="btn btn-info" asp-controller="Product" asp-route-Id="@item.Id" asp-route-Name="@item.Name" class="card-link">مشخصات</a>
                </div>
            }
        </div>
    }
</body>

<!--Change Avatar Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="AddOrChangeChannelAvatar" enctype="multipart/form-data">
                    <input type="hidden" value="@Model.Channel.Id" name="ChannelId" />
                    <label>عکس پروفایل (.jpg)</label>
                    <input type="file" name="Avatar" class="form-control" />
                    <br />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-success" value="ثبت عکس" />
                </form>
            </div>
        </div>
    </div>
</div>