@using ChannelServices.CategoriesServices
@using ChannelServices.ProductServices
@model Dictionary<Category, List<Product>>
<head>
    <link rel="stylesheet" href="~/css/CategoriesStyle.css" />
</head>
<body>
    @foreach (var category in Model.Keys)
    {
        <div id="Category-Card">
            <a asp-action="CategoryProducts" asp-controller="Product" asp-route-CategoryId="@category.Id" id="categoryName">@category.Name</a>
            @foreach (var product in category.Products)
            {
                <div class="card-body" id="Card-Body">
                    <div>
                        @if (product.ProductImages.Any())
                        {
                            <img id="Product-Img" src="~/ProductsImages/@(product.ProductImages[0].FileName)@product.ProductImages[0].Format" />
                        }
                    </div>
                    <h5 class="card-title">@product.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@product.Price</h6>
                    <p class="card-text">@product.Description</p>
                    <a asp-action="AddToOrder" class="btn btn-primary" asp-controller="Product" asp-route-productId="@product.Id" class="card-link">افزودن به سبد خرید</a>
                    <a asp-action="Details" class="btn btn-warning" asp-controller="Product" asp-route-Id="@product.Id" asp-route-Name="@product.Name" class="card-link">مشخصات</a>
                </div>
            }
        </div>
    }
</body>