@using ChannelServices.ViewModels
@model CategoryProductsViewModel
<head>
    <link rel="stylesheet" href="~/css/CategoryProduct.css" />
</head>
<body>
    <div align="center">
        <form method="get" asp-action="Index" asp-controller="Product" id="SearchForm">
            <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12" align="center">
                <table>
                    <tr>
                        <td colspan="3">
                            <input type="text" class="form-control" name="SearchString" asp-for="@Model.showProduct.SearchString" />
                        </td>
                        <td colspan="1">
                            <input type="submit" value="جست و جو" class="btn btn-success" />
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
    @if (Model.showProduct.Products.Count > 0)
    {
        @foreach (var item in Model.showProduct.Products)
        {
            <div class="card-body" id="Card-Body">
                <div>
                    <img id="Product-Img" src="~/ProductsImages/@(item.ProductImages[0].FileName)@item.ProductImages[0].Format" />
                </div>
                <h5 class="card-title">@item.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@item.Price</h6>
                <p class="card-text">@item.Description</p>
                <a asp-action="AddToOrder" class="btn btn-primary" asp-controller="Product" asp-route-productId="@item.Id" class="card-link">افزودن به سبد خرید</a>
                <a asp-action="Details" class="btn btn-warning" asp-controller="Product" asp-route-Id="@item.Id" asp-route-Name="@item.Name" class="card-link">مشخصات</a>
            </div>
        }
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            @if (Model.showProduct.CurrentPage > 1)
            {
                <a class="btn btn-primary" href="/Product/CategoryProducts?CategoryId=@Model.CategoryId&&PageId=@(Model.showProduct.CurrentPage - 1)&&SearchString=@Model.showProduct.SearchString">
                    قبلی
                </a>
                <a class="btn btn-primary" href="/Product/CategoryProducts?CategoryId=@Model.CategoryId&&=1&&SearchString=@Model.showProduct.SearchString">
                    اولین صفحه
                </a>
            }

            @for (int i = 1; i <= Model.showProduct.PageCount; i++)
            {
                <div class="btn-group me-2" role="group" aria-label="First group">
                    <a class="btn btn-primary @((i==Model.showProduct.CurrentPage) ? "active" : "")" href="/Product/CategoryProducts?CategoryId=@Model.CategoryId&&PageId=@i&&SearchString=@Model.showProduct.SearchString">
                        @i
                    </a>
                </div>
            }
            @if (Model.showProduct.CurrentPage < Model.showProduct.PageCount)
            {
                <a class="btn btn-primary" href="/Product/CategoryProducts?CategoryId=@Model.CategoryId&&PageId=@(Model.showProduct.CurrentPage + 1)&&SearchString=@Model.showProduct.SearchString">
                    بعدی
                </a>
                <a class="btn btn-primary" href="/Product/CategoryProducts?CategoryId=@Model.CategoryId&&PageId=@Model.showProduct.PageCount&&SearchString=@Model.showProduct.SearchString">
                    آخرین صفحه
                </a>
            }
        </div>
    }
    else
    {
        <div id="DangerBox">
            <p class="text text-danger" id="dangerText">محصولی یافت نشد</p>
        </div>
    }
</body>