@using ChannelServices.Repositories
@model ShowProductsViewModel

<head>
    <style>
        #div-Product {
            display: inline-block;
            margin-bottom: 2rem;
            margin-left: 0.5rem;
        }

        #SearchForm {
            margin-bottom: 3rem;
        }

        #DangerBox {
            background-color: rgba(255, 44, 33, 0.601);
            border-radius: 1rem;
        }

        #dangerText {
            font-size: 2rem;
            padding-bottom: 0.5rem;
            padding-top: 0.5rem;
            padding-right: 0.5rem;
            font-family: Tahoma;
        }

        #Product-Img {
            width: 100%;
            height: 50%;
        }
    </style>
</head>
<body>
    <div align="center">
        <form method="get" asp-action="Index" asp-controller="Product" id="SearchForm">
            <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12" align="center">
                <table>
                    <tr>
                        <td colspan="3">
                            <input type="text" class="form-control" name="SearchString" asp-for="SearchString" />
                        </td>
                        <td colspan="1">
                            <input type="submit" value="جست و جو" class="btn btn-success" />
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
    @if (Model.Products.Count > 0)
    {
        @foreach (var item in Model.Products)
        {
            <div class="card" style="width: 18rem;" id="div-Product">
                <div class="card-body">
                    <div>
                        @if (item.ProductImages.Any())
                        {
                            <img id="Product-Img" src="~/ProductsImages/@(item.ProductImages[0].FileName)@item.ProductImages[0].Format" />
                        }
                    </div>
                    <h5 class="card-title">@item.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@item.Price</h6>
                    <p class="card-text">@item.Description</p>
                    <a asp-action="AddToOrder" class="btn btn-primary" asp-controller="Product" asp-route-productId="@item.Id" class="card-link">افزودن به سبد خرید</a>
                    <a asp-action="Details" class="btn btn-warning" asp-controller="Product" asp-route-Id="@item.Id" asp-route-Name="@item.Name" class="card-link">مشخصات</a>
                </div>
            </div>
        }
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            @if (Model.CurrentPage > 1)
            {
                <a class="btn btn-primary" href="/Product?PageId=@(Model.CurrentPage - 1)&&SearchString=@Model.SearchString">
                    قبلی
                </a>
                <a class="btn btn-primary" href="/Product?PageId=1&&SearchString=@Model.SearchString">
                    اولین صفحه
                </a>
            }
            @for (int i = 1; i <= Model.PageCount; i++)
            {

                <div class="btn-group me-2" role="group" aria-label="First group">
                    <a class="btn btn-primary @((i==Model.CurrentPage) ? "active" : "")" href="/Product?PageId=@i&&SearchString=@Model.SearchString">
                        @i
                    </a>
                </div>
            }
            @if (Model.CurrentPage < Model.PageCount)
            {
                <a class="btn btn-primary" href="/Product?PageId=@(Model.CurrentPage + 1)&&SearchString=@Model.SearchString">
                    بعدی
                </a>
                <a class="btn btn-primary" href="/Product?PageId=@Model.PageCount&&SearchString=@Model.SearchString">
                    آخرین صفحه
                </a>
            }
        </div>
    }
    else
    {
        <div id="DangerBox">
            <p class="text text-danger" id="dangerText">محصولی یافت نشد</p>
        </div>
    }
</body>